.Authority {
    text-align: left;
  }
.btn-group button {
    background-color: rgb(114, 114, 114); /* Green background */
    border: 1px solid rgb(3, 3, 3); /* Green border */
    color: rgb(255, 253, 253); /* White text */
    padding: 54px 26px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 290%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  .text {
  
      text-transform: uppercase;
      font-family: verdana;
      font-size: 3em;
      font-weight: 700;
      color: #f5f5f5;
      text-shadow: 1px 1px 1px #919191,
          1px 2px 1px #919191,
          1px 3px 1px #919191,
          1px 4px 1px #919191,
          1px 5px 1px #919191,
          1px 6px 1px #919191,
          1px 7px 1px #919191,
          1px 8px 1px #919191,
          1px 9px 1px #919191,
          1px 10px 1px #919191,
      1px 18px 6px rgba(16,16,16,0.4),
      1px 22px 10px rgba(16,16,16,0.2),
      1px 25px 35px rgba(16,16,16,0.2),
      1px 30px 60px rgba(16,16,16,0.4);
  }
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  /*style for icon */
   .img{
  
    left:18px;
    top:9px; 
   
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 80px; 
  } 
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #929792;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  